/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);*/


*{
	border-radius: 0 !important;
	box-shadow: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
	text-shadow: none !important;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
}

.navbar *{
	background-image: none !important;
}

form *{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

input, textarea{
	background-image: none !important;
	border: 1px solid #ccc;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

select{
	font-size: 13px !important;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px 0 0 !important;
    margin-right: 5px !important;
    line-height: 23px !important;
    border:0px !important;
}

.btn{
	background-image: none !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.btn.btn-mini{
	font-size: 11px !important;
}

body{
    color: #555555;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
	line-height: 18px;
	padding-top: 52px;
	-webkit-font-smoothing: antialiased;
}



h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 18px;
}
.page-title {
    float: left;
    padding: 25px 0;
}
.page-title h3 {
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px;
}
.page-title span {
    color: #888888;
    display: block;
    font-size: 11px;
    font-weight: normal;
}

p{
	padding: 1px 0px;
	margin:1px 0px 10px;
}

a{
	color: #4D7496;
	text-decoration: none !important;
}

a:hover{
	color: #4d7496;
	text-decoration: none;
}

a:hover,a:focus,a:active{
	outline: 0;
}

.bold{
	font-weight: 600;
}

hr{
	margin:8px 0px 8px 0px !important;
	padding:0px !important;
	border-top:0px;
	border-bottom:1px solid #ddd !important;
	height:0px;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}
span.blue {
    color: #54728C;
}
span.green {
    color: #94B86E;
}
span.red {
    color: #E25856;
}
.well{
	padding:10px 15px;
}

.btn{
	font-size: 13px !important;
    margin-bottom: 5px;
}

a.btn{
	font-size: 13px !important;
}

.label{
	font-weight: 400;
	font-size: 10px;
}
.badge{
	font-weight: 400;
	font-size: 10px;
}

.progress{
	height: 17px;
	line-height: 17px;
	margin: 5px 0px;
	border: 0px;
}

.progress .bar{
	font-size: 12px;
}
.progress .progress-bar {
    background-color: #328CA3;
    background-image: none;
}
.progress-success .progress-bar,
.progress .progress-bar-success,
.progress-success.progress-striped .progress-bar,
.progress-striped .progress-bar-success {
    background-color: #51A351;
}
.progress-warning .progress-bar,
.progress .progress-bar-warning,
.progress-warning.progress-striped .progress-bar,
.progress-striped .progress-bar-warning {
    background-color: #F89406;
}
.progress-danger .progress-bar,
.progress .progress-bar-danger,
.progress-danger.progress-striped .progress-bar,
.progress-striped .progress-bar-danger {
    background-color: #BD362F;
}
.progress {
    border-radius: 0 0 0 0;
}
.progress.progress-mini {
    height: 6px;
}
.progress.progress-small {
    height: 12px;
}
.progress.progress-large {
    height: 25px;
}
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.picker{
   padding:5px;
   border-radius:5px !important;
}

.align-left {
    text-align: left;
}
.align-center {
    margin: 0 auto;
    text-align: center;
}
.align-right {
    text-align: right;
}
.row-bg {
    background-color: #F9F9F9;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
    margin: 0 -20px 25px !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
}
.hide-default {
    display: none;
}
.padding-top-5px {
    padding-top: 5px;
}
.padding-bottom-5px {
    padding-bottom: 5px;
}
.padding-left-5px {
    padding-left: 5px;
}
.padding-right-5px {
    padding-right: 5px;
}
.padding-top-10px {
    padding-top: 10px;
}
.padding-bottom-10px {
    padding-bottom: 10px;
}
.padding-left-10px {
    padding-left: 10px;
}
.padding-right-10px {
    padding-right: 10px;
}
.margin-top-0px {
    margin-top: 0;
}
.margin-bottom-0px {
    margin-bottom: 0;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.spacing-10px {
    display: block;
    padding-top: 10px;
}
/* Sparkline tooltip */

.jqstooltip {
  width: auto !important;
  height: auto !important;
  border-radius: 5px;
  padding: 4px 6px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 0 !important;
}

/* Button colors */
.btn.btn-default {
    background: #F3F3F3 !important;
}

.btn.btn-default:hover {
    background: #f8f8f8 !important;
    border-color: rgba(0, 0, 0, 0.13);
}

.btn.btn-primary{
	background: #3968C6 !important;
}

.btn.btn-primary:hover{
	background: #4D77CC !important;
}

.btn.btn-info{
	background: #2F96B4 !important;
}

.btn.btn-info:hover{
	background: #34A7C8 !important;
}

.btn.btn-success{
	background: #51A351 !important;
}

.btn.btn-success:hover{
	background: #5EAF5E !important;
}

.btn.btn-warning{
	background: #F89406 !important;
}

.btn.btn-warning:hover{
	background: #FA9F1E !important;
}

.btn.btn-danger{
	background: #BD362F !important;
}

.btn.btn-danger:hover{
	background: #CE3F38 !important;
}

/* Label colors */

.label.label-danger,
.badge.badge-danger{
	background: #E25856;
}
.label.label-success,
.badge.badge-success{
	background: #94B86E;
}

.label.label-warning,
.badge.badge-warning{
	background: #F0AD4E;
}

.label.label-important,
.badge.badge-important{
	background: #fa3031 !important;
}

.label.label-info,
.badge.badge-info{
	background: #658DB3;
}

/* Background colors */


.blightblue{
	background:#52b9e9 !important;
	color: #fff !important;
	border: 0px !important;
}

.bblue{
	background:#1171a3 !important;
	color: #fff !important;	
	border: 0px !important;
}

.bgreen{
	background: #43c83c !important;
	color: #fff !important;	
	border: 0px !important;
}

.borange{
	background:#f88529 !important;
	color: #fff !important;	
	border: 0px !important;	
}

.bred{
	background: #fa3031 !important;
	color: #fff !important;	
	border: 0px !important;
}

.bviolet{
	background: #932ab6 !important;
	color: #fff !important;	
	border: 0px !important;
}

.btblue{
    background: #4D7496 !important;
    color: #fff !important;
    border: 0px !important;
}

.blightblue h2,.blightblue h3, .blightblue h3, .blightblue h4, .blightblue h5, .blightblue h6,
.bblue h2,.bblue h3, .bblue h3, .bblue h4, .bblue h5, .bblue h6,
.bgreen h2,.bgreen h3, .bgreen h3, .bgreen h4, .bgreen h5, .bgreen h6,
.bred h2,.bred h3, .bred h3, .bred h4, .bred h5, .bred h6,
.bviolet h2,.bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5, .bviolet h6,
.borange h2,.borange h3, .borange h3, .borange h4, .borange h5, .borange h6{
	color: #fff !important;
}
 
.blightblue a,
.bblue a,
.bgreen a,
.bred a,
.borange a,
.bviolet a{
	color: #eee !important;
}

.blightblue a:hover,
.bblue a:hover,
.bgreen a:hover,
.bred a:hover,
.borange a:hover,
.bviolet a:hover{
	color: #ddd !important;
}

/* Text colors */

.lightblue{
	color:#52b9e9 !important;
}

.blue{
	color:#1171a3 !important;
}

.green{
	color: #43c83c !important;
}

.orange{
	color:#f88529 !important;
}

.red{
	color: #fa3031 !important;
}

.violet{
	color: #932ab6 !important;
}


/* Modal */

.modal-header{
	padding-top:7px;
	padding-bottom: 7px;
}

.modal-footer .btn + .btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

/* Form */

form{
	margin: 10px;
}

form input, form button, form textarea, form select{
	font-size:13px !important;
}

form label{
	font-size: 13px;
	line-height: 13px;
}

.form-inline button{
	margin-left: 15px;
}

.form-horizontal .center-align{margin:0 auto; text-align:center;}

.form-horizontal .control-label {
	/* width: 90px; */
}

.form-horizontal .controls {
	margin-left: 110px;
}

.form-horizontal .controls:first-child {
	*padding-left: 100px;
}

.form-horizontal .form-actions {
	padding-left: 110px;
}

.form-actions {
	padding: 5px 20px 5px;
	background:transparent;
	border-top:0px;
}

/* Back to top */

.totop {
    background: #4D7496;
    bottom: 0px;
    left: 0px;
    position: fixed;
    z-index: 104400;
}

.totop a, .totop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #eee;
	text-decoration: none;
}

/* Half column - CHECK LATER */

.col-left{
	width: 48%;
	float: left;
}

.col-right{
	width: 48%;
	float: right;
}

/* Dropdown menu */
.dropdown-menu.extended {
    border-top: none;
    top: 52px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background: none repeat scroll 0 0 #4D7496;
    filter: none;
}

.dropdown-menu.extended {
    max-width: 320px;
    min-width: 180px;
    padding: 0;
    width: 260px;
}

.dropdown-menu.extended li:last-child, .dropdown-menu.extended li.title {
    border-bottom: 0 none;
}
.dropdown-menu.extended li {
    border-bottom: 1px solid #E6E6E6;
}
.dropdown-menu.extended li p {
    background-color: #334D63;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    padding: 6px 15px !important;
}
.dropdown-menu.extended li a {
    font-size: 12px;
    padding: 10px;
    white-space: normal;
}
.dropdown-menu.extended li .label {
    display: inline-block;
    padding: 7px;
    text-align: center;
    width: 24px;
}
.dropdown-menu.extended li .message {
    padding: 7px;
}
.dropdown-menu.extended li .time {
    color: #ADADAD;
    font-size: 11px;
    font-weight: 300;
    padding-top: 3px;
    position: absolute;
    right: 5px;
}
.dropdown-menu.extended li .subject .from {
    font-size: 13px;
    font-weight: 600;
}
.dropdown-menu.extended li .text {
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding-top: 1px;
    white-space: normal;
}
.dropdown-menu.extended li .photo img {
    float: left;
    height: 40px;
    margin-right: 6px;
    width: 40px;
}
.dropdown-menu.extended li .task .percent {
    color: #ADADAD;
    display: inline-block;
    float: right;
    font-size: 11px;
}
.dropdown-menu.extended li .progress {
    margin: 5px 0;
}

.dropdown-menu.extended li.footer {
    text-align: center;
}
.dropdown-menu.extended li.footer a {
    background-color: #F9F9F9;
    color: #6F6F6F;
    padding: 8px;
}
.dropdown-menu.extended li.footer a:hover {
    background-color: #4D7496;
    color: #FFFFFF;
}
/* Navbar */
.containerk {
    z-index: 1000;
    background: #4D7496;
    border-bottom: 4px solid #2A4053;

}
.no-border {
    border: 0;
}
.navbar *{
    text-shadow:none !important;
}

.navbar {
	/*background: #4D7496;*/
	background: transparent;
    border: 0;
}

.navbar.nav-border {
    border-bottom: 4px solid #2a4053;
}
.navbar .navbar-brand{
	color: #fff !important;
    font-size: 18px;
    line-height: 48px;
    padding:0 0 0 15px;
    -moz-text-shadow: 0 1px 0 #000000 !important;
    -webkit-text-shadow: 0 1px 0 #000000 !important;
    text-shadow: 0 1px 0 #000000 !important;
    text-transform: uppercase;
    width:230px;
}

.navbar .nav.navbar-left:first-child {
    margin-left: 0;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
.navbar .nav {
    height: 48px;
}
.navbar .nav > li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 48px;
}
.navbar .nav > li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.21);
}
.navbar .nav > li > a span.username,
.navbar .nav > li > a{
	font-size: 13px !important;
    font-weight: 400;
	color: #fff !important;
    padding-bottom: 14px;
    padding-top: 14px;
    -moz-text-shadow: 0 1px 0 #000000 !important;
    -webkit-text-shadow: 0 1px 0 #000000 !important;
    text-shadow: 0 1px 0 #000000 !important;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
}
.navbar .nav > li > a span.username {
    font-weight: bold;
}
.navbar .nav > li > a i {
    font-size:13px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: #428BCA;
}
.navbar i{
    font-size: 10px;
	margin-right: 3px;
}

.navbar .caret{
	border-top-color:#fff !important;
	border-bottom-color:#fff !important;
}

.navbar .nav-user-pic{
	width: 20px;
	margin-right: 10px;
	display:inline-block;
}

.navbar .badge{
    background-color: rgba(219, 45, 42, 0.8);
    font-size: 10px;
    font-weight: 300;
    height: 14px;
    padding: 2px 4px;
    position: absolute;
    right: 8px;
    text-align: center;
    text-shadow: none;
    top: 8px;
}

.navbar .nav > li:active,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .toggle-sidebar:active {
    background: none repeat scroll 0 0 #334D63;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
    color: #FFFFFF;
}
/* Logo style*/
.logo {
    padding: 15px;
    text-align: center;
}
.logo .navbar-brand {
    float: none;
    box-shadow: none;
    color: #555555 !important;
    font-size: 23px;
    line-height: 33px;
    text-transform: uppercase;
}
/*Project Switcher*/
.pdd * {
    visibility: hidden;
}
.pdd.pdd-visible * {
    visibility: visible;
}
.pdd {
    border: 0;
}
#horiz_container_outer {
    background-color: #334D63;
    border: 0;
    display: block;
    height: 140px;
    margin-top: 0px;
    margin-bottom: 0;
    max-width: none;
    position: relative;
    width: auto;
}
#horiz_container_inner {
    height: 140px;
}
#horiz_container {
    height: 100%;
    list-style: none outside none;
    margin: 0 auto;
    padding: 26px 10px;
    text-align: center;
}
#horiz_container li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: inline-block;
    padding: 0 30px;
}
#horiz_container li a {
    color: #FFFFFF;
    display: block;
    opacity: 0.9;
    padding: 15px;
}
#horiz_container li a:hover {
    background-color: rgba(255, 255, 255, 0.07);
    opacity: 1;
    text-decoration: none;
}
#horiz_container li.current a {
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.34) inset;
}
#horiz_container li .image,
#horiz_container li .title {
    display: block;
}
#horiz_container li .image i {
font-size: 25px;
    }
#horiz_container li .image + .title {
padding-top: 10px;
    }
#horiz_container li .title {
font-weight: 600;
    }
#horiz_container li .title,
#horiz_container li .image {
    display: block;
}

#scrollbar.container {
    max-width: none;
}
#scrollbar {
    background-color: #334D63;
    height: 6px;
    width: auto;
}
#scrollbar.sb-invisible {
    display:none;
}
#track {
    background: none repeat scroll 0 0 #334D63;
    border-radius:0;
    height: 6px;
    margin: 0 15px;
    width: 97.5%;
}
#dragBar {
    background-color: #5C7182;
    background-image: none;
    border-radius: 0;
    bottom:0;
    height: 5px;
    cursor: pointer;
    position: absolute;
    width: 550px;
}



/* Notification */

.gritter-custom p{
	font-size: 13px;
	line-height: 18px;
	color: #fff;
}

/*
#pdd,
#horiz_container_outer,
#horiz_container_inner,
#horiz_container,
#scrollbar,
#track {
    visibility: hidden;
}
*/

/* Sidebar */

.sidebar {
    background: url("../img/sidebar-divider-dots.png") no-repeat scroll 99% 50% #ECECEC !important;
    border-right: 1px solid #D1D1D1;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 251px;
    z-index: 700;
}
@media (max-width: 767px) {
    .sidebar {
        background-color: transparent !important;
        background-image: none !important;
        height: 0;
    }
}
.sidebar-fixed {
    position: fixed !important;
    top: 52px;
}
.sidebar .slimScrollBar {
    background-color: #878787 !important;
    right: 0px !important;
}
.sidebar hr{
	border-bottom: 1px solid #333 !important;
}

.sidebar ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;	
}

.sidebar ul li{
	list-style-type: none;
}

.sidebar .sidebar-inner{
    background: #F9F9F9;
    border-right: 1px solid #D1D1D1;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 60;
}
.sidebar ul.nav {
    list-style: none outside none;
    margin: 15px 0;
    padding: 0;
}
.sidebar ul.navi li{
    border-bottom: 1px solid #ebebeb;
}
.sidebar .navi li i{
	margin-right: 5px;
}

.sidebar .navi li span i{
	margin: 0px;
}

.sidebar .navi > li > a{
    border: 0 none;
    color: #555555;
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 15px 15px 15px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.sidebar .navi > li > a:hover,
.sidebar .navi > li.open > a {
    background: none repeat scroll 0 0 #FDFDFD;
}
.sidebar .navi > li.has_submenu > a:after {
    content: "\f104";
    font-family: 'FontAwesome';
    right: 17px;
    position: absolute;
    top: 15px;
}
.sidebar .navi > li.has_submenu.open > a:after {
    content: "\f107";
}
.sidebar ul.navi > li > a span.label {
    padding:5px 8px;
    margin-right: 15px;
}
.sidebar .navi li ul { 
	display: none; 
	background: #181818; 
}

.sidebar .navi li.open ul{
    background: none repeat scroll 0 0 #F1F1F1;
    display: block;
}
.sidebar .navi li ul li a:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
}
.sidebar .navi li ul li a {
    background: #F1F1F1;
    color: #555555;
    display: block;
    font-size: 13px;
    padding: 12px 15px 12px 20px;
    text-decoration: none;
}
.sidebar .navi li ul li:first-child a{
    border-top: 2px solid #aeaeae;
}
.sidebar .navi li ul li.active a {
    background: none repeat scroll 0 0 #f8f8f8;
}

.sidebar .navi li ul li a:hover {
    background: none repeat scroll 0 0 #f8f8f8;
}

/* Sidebar colors */

.sidebar .navi > li.current {
    background: #FDFDFD !important;
}

.sidebar .navi > li.nlightblue > a:hover, 
.sidebar .navi > li.open.nlightblue > a, 
.sidebar .navi > li.current.nlightblue > a { 
  background:#52b9e9 !important;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  -o-transition:background 0.5s ease;
  transition:background 0.5s ease;
}

.sidebar .navi > li.nblue > a:hover, 
.sidebar .navi > li.open.nblue > a,
.sidebar .navi > li.current.nblue > a { 
  background:#1171a3 !important;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  -o-transition:background 0.5s ease;
  transition:background 0.5s ease;
}

.sidebar .navi > li.ngreen > a:hover, 
.sidebar .navi > li.open.ngreen > a,
.sidebar .navi > li.current.ngreen > a { 
  background:#43c83c !important;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  -o-transition:background 0.5s ease;
  transition:background 0.5s ease;
}

.sidebar .navi > li.norange > a:hover, 
.sidebar .navi > li.open.norange > a,
.sidebar .navi > li.current.norange > a { 
  background:#f88529 !important;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  -o-transition:background 0.5s ease;
  transition:background 0.5s ease;
}

.sidebar .navi > li.nred > a:hover, 
.sidebar .navi > li.open.nred > a,
.sidebar .navi > li.current.nred > a { 
  background:#fa3031 !important;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  -o-transition:background 0.5s ease;
  transition:background 0.5s ease;
}

.sidebar .navi > li.nviolet > a:hover, 
.sidebar .navi > li.open.nviolet > a,
.sidebar .navi > li.current.nviolet > a { 
  background:#932ab6 !important;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  -o-transition:background 0.5s ease;
  transition:background 0.5s ease;
}

/* Sidebar dropdown */

.sidebar .sidebar-dropdown*{
	text-decoration: none;
}

.sidebar .sidebar-dropdown{
	display: none;
}

.sidebar .sidebar-dropdown a{
	color: #ddd;  
	background-color: #343434;	
	padding:10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	line-height:19px;
	display: block;
	border-top: 1px solid #666;
	border-bottom: 1px solid #333;  
}

.sidebar .sidebar-dropdown a:hover{
	text-decoration: none;
}

/* Sidebar widget */

.sidebar .sidebar-widget{
	padding: 0px;
    width: 242px;
}
.sidebar .sidebar-search {
    margin: 14px 23px 15px 15px;
}
.sidebar .sidebar-search .input-box {
    border-bottom: 1px solid #D9D9D9 !important;
    padding-bottom: 2px;
}
.sidebar .sidebar-search input, #sidebar .sidebar-search .submit {
    background-color: #F9F9F9 !important;
    border: 0 none;
    box-shadow: none;
    color: #555555;
    margin: 0;
}
.sidebar .sidebar-search input {
    padding: 6px;
    width: 100%;
}
@media (max-width: 979px) {
    .sidebar .sidebar-search input {
        width: 80%;
    }
    .sidebar .sidebar-inner{
        width: 97.5% !important;
    }
    .sidebar .sidebar-widget{
        width: 100%;
    }
}
.sidebar .sidebar-search .submit {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #555555;
    display: block;
    float: right;
    margin-top: 8px;
    opacity: 0.7;
}

.sidebar .sidebar-search span {
    display: block;
    overflow: hidden;
}
.sidebar .ui-datepicker{
	width: 95%;
	margin: 0 auto;
	background: #111;
	color: #888;
	border: 0px;
	padding: 0px;
}

.sidebar .ui-datepicker-header{
	background: #222;
	border: 1px solid #212121;
}

.sidebar .ui-datepicker-prev:hover{
	background: transparent;
	border: 0px;
	top: 2px !important;
	left: 2px !important;
}

.sidebar .ui-datepicker-next:hover{
	background: transparent;
	border: 0px;
	top: 2px !important;
	right: 2px !important;
}

.sidebar .ui-state-default{
	background: #222;
	border: 0px;
	text-align: center;
	color: #ccc;
}

.sidebar .ui-state-default:hover{
	background: #282828;
	color: #999;
}

.sidebar .ui-state-hightlight, .sidebar .ui-state-active{
	background: #444;
}

/* Sidebar Notifications */
.sidebar .sidebar-title {
    background-color: #ECECEC;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #B9B9B9;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    font-weight: 600;
    padding: 10px;
}
.sidebar .notifications {
    list-style: none outside none;
    margin: 0 0 200px 0;
    padding: 0;
    width: 242px;
}
.sidebar .notifications li {
    border-bottom: 1px solid #EBEBEB;
    height: 70px;
    padding: 15px;
}
.sidebar .notifications li:last-child {
    border-bottom: 0;
}
.sidebar .notifications .col-left {
    float: left;
    margin-right: -100%;
}
.sidebar .notifications .label {
    display: inline-block;
    padding: 7px;
    text-align: center;
    width: 24px;
}
.sidebar .notifications .col-right {
    float: left;
    width: 100%;
}
.sidebar .notifications .col-right.with-margin {
    margin-left: 35px;
}
.sidebar .notifications .message {
    color: #555555;
    font-size: 13px;
    line-height: 19px;
}
.sidebar .notifications .time {
    color: #888888;
    display: block;
    font-size: 11px;
    padding-top: 5px;
}
@media (max-width: 979px) {
    .sidebar .notifications{
        width: 100% !important;
    }
    .sidebar .notifications .col-left {
        display: none;
    }
    .sidebar .notifications .col-right.with-margin {
        margin-left: 0px;
    }
}
/*Sidebar Search Results*/
.sidebar .sidebar-search-results {
    background-color: #ECECEC;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #B9B9B9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    display: none;
    padding: 10px;
}
.sidebar .sidebar-search-results .notifications {
    margin: 0;
    width: 226px;
}
.sidebar .sidebar-search-results .close {
    font-size: 11px;
    line-height: 25px;
    position: relative;
    right: -2px;
    top: -2px;
}
.sidebar .sidebar-search-results .title {
    color: #888888;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0;
    text-transform: uppercase;
}
.sidebar .sidebar-search-results .notifications li {
    border-bottom-color: #D3D3D3;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
}
/* Main */

.mainbar{
	position: relative;
	margin-left: 251px;
	margin-right: 0px;
	width: auto;
	background:#fff;
	min-height: 900px;
}

.mainbar .container{
   max-width:100% !important;
}

/* Pagination*/

.pagination{
	margin: 10px 0px 5px 0px;
}
.pagination li > a {
    margin-bottom: 2px;
}
.pagination ul > li > a, .pagination ul > li > span {
	border: 1px solid #ccc;
	margin-right: 3px;
	padding: 3px 8px;
	background-color: #fff;	
	color: #666;
}	

.pagination ul > li > a:hover{
	color: #333;
	background: #fafafa;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #4D7496;
    border-color: #3C5A74;
}
@media (max-width:639px) {
    .pagination > li > a, .pagination > li > span {
        padding: 2px 8px;
    }
}
/* Page head */

.mainbar .page-head{
    padding: 0px 15px;
    background: none repeat scroll 0 0 #F9F9F9;
    height: 40px;
}

.mainbar .page-meta{
	font-size: 13px;
	line-height: 15px;
	margin-left: 2px;
	display: block;
}
/*Page header*/
.page-header:after {
    clear: both;
}
.page-header:before, .page-header:after {
    content: "";
    display: table;
    line-height: 0;
}
.page-header {
    border: 0 none;
    margin: 0;
    padding-bottom: 9px;
}
.page-header .page-title {
    float: left;
    padding: 25px 0;
}
.page-header .page-title h3 {
    color: #555555;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px;
}
.page-header .page-title span {
    color: #888888;
    display: block;
    font-size: 11px;
    font-weight: normal;
}
.page-header .page-stats {
    float: right;
    list-style: none outside none;
    margin-left: 0;
    padding: 25px 0;
}
.page-header .page-stats li {
    border-left: 1px solid #D9D9D9;
    display: block;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
}
.page-header .page-stats li:first-child {
    border: 0 none;
}
.page-header .page-stats li .summary {
    float: left;
    margin-right: 18px;
}
.page-header .page-stats li .summary span {
    color: #888888;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}
.page-header .page-stats li .summary h3 {
    color: #555555;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}
@media (max-width: 899px) {
    .page-header .page-stats .sparklines {
        display: none;
    }
}
@media (max-width: 479px) {
    .page-header .page-stats {
        display: none;
    }
    .page-header .page-title {
        float: none;
        text-align: center;
    }
}
/* Bread crumb */

.mainbar .bread-crumb{
    color: #555;
    float: left;
    font-size: 12px;
    line-height: 40px;
	margin-left: 2px;

}

.mainbar .bread-crumb i{
	margin-right: 3px;
	display:inline;
	position: static;
	top: 0px;
	width: auto;
}

.mainbar .bread-crumb .divider{
    color: #949494;
    font-size:10px;
	margin: 0px 3px;
}

.mainbar .bread-crumb a{
	color: #555;
}
.mainbar .bread-crumb a:hover{
    color: #4d7496;
}
.mainbar .bread-crumb a.bread-current{
	color: #949494;
}

.page-head .crumb-buttons {
    float: right;
    height: 0;
    list-style: none outside none;
    margin-left: 0;
    margin-right: 0px;
}
@media (max-width: 480px) {
    .page-head .crumb-buttons {
        display: none;
    }
}
.page-head .crumb-buttons > li {
    border-right: 1px solid #D9D9D9;
    float: left;
    font-size: 12px;
    position: relative;
}
.page-head .crumb-buttons > li:first-child,
.page-head .crumb-buttons > li.first {
    border-left: 1px solid #D9D9D9;
}
.page-head .crumb-buttons > li > a {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #555555;
    display: inline-block;
    line-height: 39px;
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
}
.page-head .crumb-buttons > li > a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.page-head .crumb-buttons > li > i, .crumbs .crumb-buttons > li > a > i {
    padding-right: 5px;
}
@media (max-width: 979px) {
    .page-head .crumb-buttons > li > a{
        line-height: 35px;
    }
    .page-head .crumb-buttons > li > a span {
        font-size: 0;
    }
}
@media (max-width: 767px) {
    .mainbar .page-head {
        margin-top: 41px;
    }
}
/* Notificationj Box*/

.slide-box{
	width: 270px;
	z-index: 400;
	position: fixed;
	bottom: 0px;
	right: 5px;
}

.slide-box .slide-box-head{
	line-height: 42px;
	height: 42px;
	cursor: pointer;
	font-size: 15px;
	padding-left: 10px;
}

.slide-box .slide-box-head i{
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 10px;
}

.slide-box .slide-content{
    background: #f9f9f9;
    border: 1px solid #d1d1d1;
    border-top: 0;
    min-height: 300px;
    margin: 0px;
    padding: 0px;
}

.slide-content .nav-tabs{
    border: 0 !important;
    border-bottom: 1px solid #d1d1d1 !important;
	margin-bottom: 0px !important;
}

.slide-content .nav-tabs > li > a{
	background: #f9f9f9 !important;
	margin: 0px !important;
	border: 1px solid #d1d1d1 !important;
	border-right: 0 !important;
	color: #888 !important;
}
.slide-content .nav-tabs > li:last-child > a{
    border-right: 1px solid #d1d1d1 !important;
}
.slide-content .nav-tabs > li.active > a{
	color: #ccc !important;
	background: #fdfdfd !important;
}
.slide-content .nav-tabs > li.active:first-child > a,
.slide-content .nav-tabs > li:first-child > a {
    border-left:0 !important;
}
.slide-content .tab-content{
	padding: 10px;

} 

.slide-content hr{
	border-bottom: 1px solid #d1d1d1 !important;
}


/* Slidebox data */

.slide-data{
	background: #fdfdfd;
	border:1px solid #d1d1d1;
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px;
}

.slide-data .slide-data-text{
	color: #555;
	font-weight: 600;
	font-size: 13px;
	float: left;
	width: 60%;
}

.slide-data .slide-data-result{
	color: #555;
	font-weight: 600;
	font-size: 16px;
	float: right;
	width: 40%;
}

.slide-data .slide-data-result i{
	font-size: 14px;
}

/* Matter */

.mainbar .matter{
	border-top: 1px solid #ddd;
	padding: 0 0 15px 0px;
}

/* Widget */

.widget {
  margin-bottom: 30px;
  background: #fff;
}

.widget hr{
	margin: 4px 0px;
	padding: 4px 0px;
	border-top: 0px;
	border-bottom: 1px solid #ddd;
}
/* widget Tables start */
.widget .table{
    color: #555555;
    font-size: 13px;
    line-height: 19px;
	margin: 0px;
	width: 100%;
}
.widget .table thead > tr > th {
    font-weight: 700;
}

.widget .table-hover tbody > tr:hover {
    background-color: #F5F5F5;
}
@media (max-width: 639px) {
    .widget .table .btn {
        padding: 0px 3px;
    }
}
.widget .table-bordered{
	border: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.widget .table-bordered th{
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td{
	border-top: 0px !important;
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td:first-child,
.widget .table-bordered th:first-child{
	border-left: 0px;
}
.widget .table-striped tbody > tr:nth-child(2n+1),
.widget .table-striped tbody > tr:nth-child(2n+1) {
    background-color: #FAFAFA;
}
.widget .table-striped tbody > tr:hover {
    background-color: #F5F5F5;
}
@media (max-width:639px) {
    .widget .table{
        font-size: 11px;
    }
    .widget .table thead > tr > th,
    .widget .table tbody > tr > th,
    .widget .table tfoot > tr > th,
    .widget .table thead > tr > td,
    .widget .table tbody > tr > td,
    .widget .table tfoot > tr > td {
        padding: 4px;
    }
}
/* widget Tables end */
.widget .statement .well{
    margin-bottom: 10px;
}
.widget .padd h5 {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.widget .widget-head{
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 15px;
}

.widget .widget-head h2 {
    color: #555555;
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.widget .widget-head h4 {
    color: #555555;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 7px;
    padding: 0;
}
.widget .widget-head h4 i {
    padding-right: 10px;
}

.widget .widget-head .widget-icons i{
    color: #555;
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-head .widget-icons a{
	color: #aaa;
}

.widget .widget-head .widget-icons a:hover{
	color: #888;
}

.widget .widget-content{

}

.widget .widget-foot{
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  padding: 8px 15px;
  font-size: 13px;
  color: #555;
}
.widget .widget-foot .editorial {
    margin:10px 0 5px;
}
.widget .invoice-nr {
    color: #555555;
    font-size: 15px;
}
.widget .invoice-date {
    color: #888888;
    font-size: 13px;
}
.boxed .widget-head {
    background: none repeat scroll 0 0 #F9F9F9;
    border:1px solid #D9D9D9;
    line-height: 35px;
    margin-bottom: 0;
    padding: 0 0 0 12px;
}
.boxed .widget-head h4 {
    line-height: 35px;
    margin: 0;
}
.boxed .widget-icons {
    background-color: #f3f3f3;
    border-left: 1px solid #d9d9d9;
}
.boxed .widget-icons:hover {
    background-color: #f8f8f8;
}
.boxed .widget-head .widget-icons i {
    font-size:10px;
}
.boxed .widget-content {
    border: 1px solid #d9d9d9;
    border-top: 0;
    padding: 10px;
}
.boxed .widget-foot{
    border: 1px solid #ddd;
    border-top: 0;
}

/* Widget Content */

.chats{
	padding-left:0px;
	margin-left:0px;
}

.recent{
	padding-left:0px;
	margin-left:0px;
}

.quick-post .checkbox label{
	display:inline-block;
}

.quick-post .radio label{
	display:inline-block;
}

.widget-foot .form-inline button {
	margin-left: -3px;
	padding:7px 12px;
}

.widget-content .form-inline button {
	margin-left: 0px;
	padding:7px 12px;
}

.buttons button{
	margin-top:10px;
}

.widget-content .checkbox label{
	display:inline-block;
}

.widget-content ol#slist{
	padding:0px;
}


/* Widget colors */

.widget.wred .widget-head{
  background-color: #fa3031;
  border: 1px solid #fa3031;
  color: #fff;
}

.widget.wlightblue .widget-head{
  background-color: #52b9e9;
  border: 1px solid #52b9e9;
  color: #fff;
}

.widget.wblue .widget-head{
  background-color: #1171a3;
  border: 1px solid #1171a3;
  color: #fff;
}

.widget.wgreen .widget-head{
  background-color: #43c83c;
  border: 1px solid #43c83c;
  color: #fff;
}

.widget.worange .widget-head{
  background-color: #f88529;
  border: 1px solid #f88529;
  color: #fff;
}

.widget.wviolet .widget-head{
  background-color: #932ab6;
  border: 1px solid #932ab6;
  color: #fff;
}

.widget.wred .widget-head .widget-icons a,
.widget.wblue .widget-head .widget-icons a,
.widget.wlightblue .widget-head .widget-icons a,
.widget.worange .widget-head .widget-icons a,
.widget.wgreen .widget-head .widget-icons a,
.widget.wviolet .widget-head .widget-icons a{
	color: #fff;
}

.widget.wred .widget-head .widget-icons a:hover,
.widget.wblue .widget-head .widget-icons a:hover,
.widget.wlightblue .widget-head .widget-icons a:hover,
.widget.worange .widget-head .widget-icons a:hover,
.widget.wgreen .widget-head .widget-icons a:hover,
.widget.wviolet .widget-head .widget-icons a:hover{
	color: #eee;
}

/* Widget white extras */
.widget .nav-tabs > li a {
   	padding: 5px 10px;
}

.widget .nav-tabs {
	margin-bottom: 5px;
}

.widget .tab-content{
	margin-bottom: 10px;
}

/**/
.tabbable > .nav-tabs > li {
    margin-top: 3px;
    margin-right: 2px;
}
.tabbable > .nav-tabs > li > a {
    color: #555555;
    font-size: 15px;
    padding: 8px 20px;
    margin-right:0;
}
.tabbable > .nav-tabs > li > a:hover {
    background-color: #f9f9f9;
    border: 1px solid #eeeeee;
    border-bottom: 0;

}
.tabbable > .nav-tabs > li.active {
    border-top: 3px solid #4D7496;
    margin-top: 0;
    position: relative;
}
.tabbable > .nav-tabs > li.active:hover {
    border-left:0;
    border-right:0;
    border-bottom:0;
}
.tabbable > .nav-tabs > li.active > a:hover {
    background-color: #ffffff !important;
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #ffffff;

}
.tabbable .tab-content {
    padding: 20px 0;
}
.tabbable .f-buttons {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 19px 20px 20px;
}
.tabbable .f-buttons .btn-group {
    float: right;
}
.tabbable .f-buttons .btn-group .btn {
    margin-right: 5px;
}
.tabbable .tab-content .col-md-3 {
    padding-left: 0;
}
.tabbable .tab-content .col-md-9 {
    padding-right: 0;
}
.tabbable .list-group {
    margin-bottom: 20px;
}
.tabbable .list-group li > img {
    width: 100%;
}
.tabbable .list-group li.no-padding {
    padding: 0;
}
.tabbable .list-group a {
    font-size: 13px;
}
.tabbable .profile-info {
    color: #7b7b7b;
}
.tabbable .profile-info h1 {
    color: #555555;
    font-size: 20px;
    font-weight: 600;
}
.edit-terms .checkbox {
    padding-left: 0;
}
@media (max-width: 1023px) {
    .tabbable .tab-content .col-md-3 {
        padding-left: 15px;
    }
    .tabbable .tab-content .col-md-9 {
        padding-right: 15px;
    }
}
@media (max-width: 359px) {
    .tabbable .col-xs-8 {
        padding: 10px 0;
        width: 100%;
    }
}
/* Tabbable Info (t-info)*/
.t-info .nav-tabs {
    margin-bottom: 0;
}
.t-info .tab-content {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-top: 0;
    border-radius: 0 0 0 0;
    overflow: auto;
    padding: 10px;
}
.t-info .tab-content .slimScrollDiv {
    border: 0;
}
/* Logs list */
ul.logs {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 97%;
}
.logs li:before,
.logs li:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.logs li {
    background-color: #F9F9F9;
    border-bottom: 1px solid #D9D9D9;
    line-height: 28px;
    margin-bottom: 7px;
    padding: 0;
    position: relative;
}
.logs li > span.time {
    color: #ADADAD;
    font-size: 11px;
    line-height: 28px;
    padding: 0px 9px;
    position: absolute;
    right: 3px;
    text-align: right;
}
.logs li > span.log-text {
    /*display: inline-block; */
    list-height: 28px;
    margin-left: 35px;
    padding: 0;
    overflow: hidden;
    width: 70%;
}
@media (max-width: 479px) {
    .logs li > span.log-text {
        width: 50%;
    }
}
.logs i {
    background-color: #999999;
    color: #ffffff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    position: absolute;
    text-align: center;
    width: 28px;
}
.logs .label i {
    background-color: transparent;
    color: #ffffff;
    display: inline;
    height: auto;
    margin-right: 5px;
    width: auto;
}
.logs i.i-green {
    background-color: #94B86E;
}
.logs i.i-red {
    background-color: #E25856;
}
.logs i.i-blue {
    background-color: #658DB3;
}
.logs i.i-orange {
    background-color: #F0AD4E;
}
/* Calendar */

.fc-header-title h2 {
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 0;
    white-space: nowrap;
}

.fc-event-skin {
	background-color: #ff5d5e;
	border-color: #ff3839;
}	

.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
	right: 20px;
}

.fc-state-default {
    background-color: #F3F3F3;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.13);
    color: #333333;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 27px;
    padding: 0 8px;
    position: relative;
    z-index: 1;
}

.fc-state-default:hover{
    background-color: #F8F8F8;
    border-color: rgba(0, 0, 0, 0.13);
    color: #333333;
}
.fc-state-down,
.fc-state-active {
    background-color: #E6E6E6 !important;
    border-top: 1px solid #A6A6A6 !important;
    box-shadow: none;
}
.fc-widget-header {
    color: #555555;
	font-size: 13px;
    font-weight: 700;
    line-height: 19px;
}

.fc-content {
	background: #fff;	
}

.fc-content td:hover{

}

/* Current status */

.current-status{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.current-status .bold{
	font-size: 13px;
	margin-left: 8px;
}

.current-status li{
 	padding: 10px 0px;
 }

/* Knob */

.dial{
	border: 0px !important;
}

/* Today datas */
.statistics {
    background-color: #F9F9F9;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
    margin: 0 -20px 25px !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
}
.today-datas{
    background-color: #FFFFFF;
    border:1px solid #D9D9D9;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    list-style-type: none;
    margin-bottom: 25px;
    padding: 0;
    position: relative;
}

.today-datas .overall-datas {
    padding: 10px;
}
.today-datas .visual {
    -moz-box-sizing: content-box;
    color: #FFFFFF;
    float: left;
    margin-right: 10px;
    min-height: 17px;
    min-width: 20px;
    overflow: hidden;
    padding: 13px;
    text-align: center;
}

.today-datas .bred {
    background-color: #E25856 !important;
}
.today-datas .bgreen {
    background-color: #94B86E !important;
}
.today-datas .blightblue{
    background-color: #6DADBD !important;
}
.today-datas .borange{
    background-color: #FFB848 !important;
}

.today-datas li .spark{
	margin-right: 10px;
}

.today-datas li .datas-text{
    color: #ADADAD;
    display: block;
    font-size: 11px;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
    text-transform: uppercase;
}

.today-datas li .datas-text span{
    color: #555555;
	display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.today-datas li i{
	font-size: 18px;
}

.today-datas li .dial{
	margin-right: 10px !important;
}
.today-datas .more-stats {
    background-color: #F9F9F9;
    border-top: 1px solid #D9D9D9;
    clear: both;
}
.today-datas .more-stats a {
    color: #555555;
    display: block;
    font-size: 11px;
    font-weight: 300;
    opacity: 0.7;
    padding: 5px 10px;
    text-transform: uppercase;
}
.today-datas .more-stats a:hover {
    color: #000000;
}
.today-datas .more-stats a i {
    font-size: 11px;
    line-height:16px;
}
@media (min-width: 981px) and (max-width: 1199px) {
    .today-datas .visual {
        margin-right: 5px;
        padding: 5px;
    }
    .today-datas li .datas-text{
        font-size: 10px;
    }
    .today-datas li .datas-text span{
        font-size: 15px;
    }
    .today-datas .overall-datas {
        padding: 5px;
    }
}
/* Invoice */
.invoice {
    color: #555555;
}
.invoice h3 {
    font-weight: 400;
}
.invoice p {
    font-size: 13px;
}
.invoice strong {
    font-weight: 700;
}
.invoice .client-info {
    text-align: right;
}
@media (max-width: 767px) {
    .invoice .client-info {
        text-align: left;
    }
}
@media (max-width: 639px) {
    .invoice .pull-left,
    .invoice .pull-right {
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }
}
.invoice-summary {
    margin-top: 20px;
}
.invoice-summary .well {
    padding: 19px;
}

.invoice-summary .amount li {
    color: #555555;
    font-size: 15px;
    line-height: 21px;
}
.invoice-summary .amount .total {
    font-size: 18px;
    margin-top: 7px;
    padding-top: 7px;
}
/* Profile */

.profile{
	margin-top: 15px;
}

/* Error */

.error{
    background-color: #F9F9F9;
}

.error-page{
    max-width: 500px;
    margin: 0px auto;
}

.error-page .padd h1{
	font-weight: normal;
}

.error-page .widget {
    background-color: transparent;
}
.error-page .widget-head {
    border: 0;
    color: #555555 !important;
    float: none;
    font-size: 23px;
    line-height: 33px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}
.error-page .widget-content {
    background-color: #FFFFFF;
    border-color: #4D7496 #D9D9D9 #D9D9D9;
    border-style: solid;
    border-width: 5px 1px 1px;
    margin: 0 auto;
    padding: 30px 35px;
    text-align: center;
}
.error-page .widget-foot {
    color: #555555;
    font-size: 12px;
    font-weight: 400;
    padding: 12px 30px;
    text-align: center;
}
@media (max-width: 767px) {
    .error-page .form-inline button {
        margin-top: 10px;
    }
}
/* Grid */

.show-grid div{
	background: #eee;
	text-align: center;
	margin: 10px 0px;
	border: 1px solid #ddd;
}

/* Slider */

#eq span {
    height:120px; float:left; margin:15px
}

.ui-slider .ui-slider-handle { 
	position: absolute; 
	z-index: 2; 
	width: 0.9em; 
	height: 0.9em; 
	cursor: default; 
	background: #fafafa !important;
	border: 1px solid #ccc !important; 
}

.ui-slider-horizontal { 
	height: .5em; 
	border: 0px solid #eee !important; 
	background: #dfdfdf !important;
}

.ui-slider-vertical { 
	height: 100px; 
	width: 0.5em;
	border: 0px solid #fff !important; 
	background: #dfdfdf !important;
}

#master1, #master2, #master3, #master4, #master5, #master6{
	width: 100%;
	margin:15px 0px !important;
}

.slider-red .ui-widget-header{
	background: #dd514c !important;
	border-color: #dd514c !important;
}	

.slider-blue .ui-widget-header{
	background: #36a5c6 !important;
	border-color: #36a5c6 !important;
}	

.slider-green .ui-widget-header{
	background: #44c636 !important;
	border-color: #44c636 !important;
}	

.slider-yellow .ui-widget-header{
	background: #fcd419 !important;
	border-color: #fcd419 !important;
}	

.slider-orange .ui-widget-header{
	background: #fc9419 !important;
	border-color: #fc9419 !important;
}	

.slider-violet .ui-widget-header{
	background: #9919fc !important;
	border-color: #9919fc !important;
}	

/* Toggle button */

.make-switch{
   margin:5px 0px;
}

/* Gallery */

.gallery img{
	max-width: 170px;
	margin: 5px;
}

/* Error log */

.error-log{
	height: 400px;
	overflow: auto;
}

.error-log ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.error-log ul li{
	padding: 10px 0px;
}

/* Media */

.medias .checker {
	width: 5px !important;
}

.medias img{
	max-width: 40px;
}

/* CL Editor */

.cleditorMain{
	border: 1px solid #ccc;
	margin: 10px 0px;
}

.cleditorMain textarea, .cleditorMain iframe{
	width: 100% !important;
}

/* Chart */

#curve-chart,#live-chart,#pie-chart,#pie-chart2,#pie-chart3{
	height: 250px;
	max-width: 100%;
}

#bar-chart{
	height: 283px;
	width: 99.5%;	
}

#pie-chart,#pie-chart2,#pie-chart3{
	max-width: 300px;
	margin: 10px auto;
}

/* Support page */

#slist p{
display: none;
margin:5px 0px;
padding:5px 10px !important; 
background:#fff;
line-height: 25px;
border:1px solid #eee;
}

#slist{
	margin-left: 20px;
}

#slist li{
	margin-bottom: 10px;
}

#slist li a{
	display: block;
	margin-bottom: 0px;
}

.support-contact i{
	margin-right: 3px;
}

/* Post form */

.post{
	margin-top: 20px;
}

/* Forms */
.form-control {
    background-color: #FFFFFF;
    background-image: none !important;
    border: 1px solid #CCCCCC;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    filter: none !important;
    font-size: 13px;
    font-weight: normal;
    padding: 6px !important;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: top;
    width: 100%;
}
.form-control:focus,
.form-control:active {
    border-color: #4D7496;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.1);
}
/* Login and Register form */
.login {
    background-color: #F9F9F9;
    padding-top: 60px;
}

.admin-form{
	max-width: 500px;
	margin: 0px auto;
}

.admin-form .form-horizontal {
    margin: 0;
}
.admin-form .widget {
    background-color: #FFFFFF;
    border-color: #4D7496 #D9D9D9 #D9D9D9;
    border-style: solid;
    border-width: 5px 1px 1px;
    margin: 0 auto;
    padding: 10px 0px 0px;
    width: 350px;
}
.admin-form .widget .widget-head {
    border: 0;
    color: #555555;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;

}
.admin-form .widget .widget-content {
    padding: 0 30px 35px;
}
.error-page .form-group,
.admin-form .form-group {
    margin: 0 0 15px;
    padding: 0;
    position: relative;
}
.error-page .form-group {
    margin-bottom: 0;
}
.error-page .form-group i,
.admin-form .form-group i {
    color: #d1d1d1;
    font-size: 16px;
    left: 10px;
    line-height: 16px;
    height: 16px;
    /*margin: 8px 2px 4px 10px;*/
    position: absolute;
    width: 16px;
    top: 8px;
}
.error-page .form-control,
.admin-form .form-control{
    border-left: 2px solid #4D7496;
    padding-left: 30px !important;
}
.error-page .form-control.f-select,
.admin-form .form-control.f-select {
    padding-left: 0px !important;
    text-indent: 25px;
}
.error-page .form-control:active,
.error-page .form-control:focus,
.admin-form .form-control:active,
.admin-form .form-control:focus {
    border: 1px solid #4D7496;
    border-left: 2px solid #4D7496;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
}
.admin-form select.form-control {
    border: 1px solid #CCCCCC;
}
.admin-form form .form-actions {
    background-color: #FFFFFF;
    border-top: 0 none;
    margin: 0;
    padding: 10px 0;
}
.admin-form form .form-actions .checkbox {
    font-size:13px;
    font-weight: 400;
    padding-left: 0;
    padding-top:8px;
    min-width: 120px;
    max-width: 200px;
}

.admin-form .widget-foot {
    border: 0;
    color: #555555;
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid #d9d9d9;
    padding: 12px 30px;
    text-align: center;
    width: 348px;
}
.error-page .widget-foot a,
.admin-form .widget-foot a {
    color: #555555;
    font-weight: 600;
}
.error-page .widget-foot a:hover,
.admin-form .widget-foot a:hover {
    color: #4D7496;
    font-weight: 600;
}

.admin-form .single-sign-on {
    margin: 0 auto;
    opacity: 0.5;
    padding: 15px 0;
    text-align: center;
    transition: opacity 200ms ease-out 0s;
    width: 350px;
}
.admin-form .single-sign-on:hover {
    opacity: 1;
}
.admin-form .single-sign-on span {
    color: #888888;
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.admin-form .single-sign-on .btn i {
    padding-right: 5px;
}
.btn-facebook {
    background-color: #3B5998;
    color: #FFFFFF;
    z-index: 2;
}
.btn-facebook:hover, .btn-facebook:focus {
    background-color: #4264AA;
    color: #FFFFFF;
}

.btn-twitter {
    background-color: #00ACEE;
    color: #FFFFFF;
    z-index: 2;
}
.btn-twitter:hover, .btn-twitter:focus {
    background-color: #09BBFF;
    color: #FFFFFF;
}
.btn-google-plus {
    background-color: #D14836;
    color: #FFFFFF;
    z-index: 2;
}
.btn-google-plus:hover, .btn-google-plus:focus {
    background-color: #D65B4B;
    color: #FFFFFF;
}

.hide_section{display: none;}
.show_section{display: block;}

@media (max-width: 400px) {
    .admin-form .widget-foot,
    .admin-form .widget,
    .admin-form .single-sign-on {
        width: auto;
    }
}
/* Responsive */

@media (max-width: 480px){
	.mainbar .page-head h2{
		float: none;
	}
	.mainbar .bread-crumb{
		float: none;
		margin: 10px auto 0;
        text-align: center;
	}
	.col-left{
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.col-right{
		width: 100%;
		float: none;
	}
	.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
		display: none;
	}
}

@media (max-width: 767px){
	body{
		margin: 0 auto;
	}
	.mainbar .matter{
		padding-left: 20px;
		padding-right: 20px;
	}			
	.form-inline button{
   		margin-left:0px;
   	} 
	.navbar,.navbar-inner{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
    .navbar .nav {
        height: auto;
    }

	.navbar-collapse .dropdown-big .dropdown-menu{
		color: #bbb !important;
	}	
	.navbar-collapse .dropdown-big .dropdown-menu a{
		color: #ccc !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu a:hover{
		color: #aaa !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu h5{
		color: #eee !important;
	}		
	.navbar-collapse .dropdown-menu{
		padding: 10px 10px !important;
	}
	.navbar-collapse .dropdown-menu a {
		color: #fff !important;
	}
	.navbar-collapse .dropdown-menu a:hover{
		background:transparent !important;
	}
	.navbar-collapse .dropdown-menu hr{
		border-top: 0px solid #eee;
		border-bottom: 1px solid #333;
	}
	.sidebar{
		float: none;
		width: 101%;
	}
	.sidebar .sidebar-dropdown{
		display: block;
	}
	.sidebar .sidebar-inner{
		display: none;
		max-width:300px;
		padding:0px 20px;
	}
	.sidebar .sidebar-widget{
	}
	.mainbar{
		margin: 0px;
		float: none;
	}
	.today-datas{	
		text-align: center;
	}
	.slide-box{
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.form{
		margin: 0px !important;
	}
	form .control-group{
		margin:0px !important;
	}
	form .control-label{
		float: none !important;
		width: auto !important;
		text-align: left !important;
	}
	form .controls{
		float: none !important;
		margin-left: 0px !important;
	}
	form .form-actions{
		padding-left: 0px !important;
	}
	.navbar,.navbar-inner{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu{
		color: #bbb !important;
	}	
	.nav-collapse .dropdown-big .dropdown-menu a{
		color: #ccc !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu a:hover{
		color: #aaa !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu h5{
		color: #eee !important;
	}		
	.nav-collapse .dropdown-menu{
		padding: 10px 10px !important;
	}
	.nav-collapse .dropdown-menu a {
		color: #fff !important;
	}
	.nav-collapse .dropdown-menu a:hover{
		background:transparent !important;
	}
	.nav-collapse .dropdown-menu hr{
		border-top: 0px solid #eee;
		border-bottom: 1px solid #333;
	}
	.sidebar{
		width: 200px;
	}
	.mainbar{
		margin-left: 200px;
	}
}






